<html>
    <head>
        <title>Ananthu-Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">ANANTHU-BLOG</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
	    <p>published: 13.01.2017, 10.43</p>
            <p>Happiness is a choice. You can choose to be happy. There's going to be stress in life, but it's your choice whether you let it affect you or not.</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
	    <p>published: 13.01.2017, 10:45</p>
            <p>Take advantage of every opportunity to practice your communication skills so that when important occasions arise, you will have the gift, the style, the sharpness, the clarity, and the emotions to affect other people.</p>
        </div>
    </body>
</html>

